.about-container {
  color: var(--color-white);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about-wrapper {
  display: flex;

  width: 70vw;
  line-height: 2rem;

  margin: 2rem 0;
}

.about-column {
  flex: 1;
  padding: 1.5rem;
  border-radius: 1rem;
  border-bottom: 2px solid var(--color-dark-magenta);
  margin: 0 0.75rem;
}

.about-column-subtitle {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.about-column-text {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}

@media only screen and (max-width: 1150px) {
  .about-wrapper {
    width: 80vw;
  }

  .about-column-text {
    text-indent: 1rem;
    text-align: justify;
  }
}

@media only screen and (max-width: 975px) {
  .about-wrapper {
    width: 55vw;
    flex-direction: column;

    margin: 2rem 0;
  }

  .about-column {
    margin-bottom: 1.5rem;
  }

  .about-column-subtitle {
    font-size: 1.5rem;
  }

  .about-column-text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 650px) {
  .about-wrapper {
    width: 90vw;
  }
}