.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: var(--color-dark-gray-bg);
}

.socials-container {
  display: flex;
  flex-direction: column;
}

.contact-mail {
  color: var(--color-white);
  font-size: 1.25rem;
  text-align: center;

  padding: 0.5rem;
  margin: 2rem;
  border: 0.1rem solid var(--color-dark-magenta);
  border-radius: 1rem;
}

.socials-wrapper {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.socials-wrapper a {
  color: var(--color-white);
  padding: 0.5rem;
}

