.dotnav {
  position: fixed;
  top: 40vh;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  z-index: 1;
}

.dotnav-link {
  cursor: pointer;
  margin: 0.5rem;
  border: 0.4rem solid var(--color-white);
  border-radius: 100%;
}

.dotnav-selected {
  cursor: pointer;
  margin: 0.5rem;
  border: 0.4rem solid var(--color-dark-magenta);
  border-radius: 100%;
}

@media only screen and (max-width: 850px) {
  .dotnav {
    display: none;
  }
}