.relative {
  position: relative;
}

.home-container {
  justify-content: space-evenly;
  align-items: center;
}

.title-wrapper {
  display: flex;
}

.title {
  color: var(--color-white);
  font-size: 5rem;
  padding: 0 0.5rem;
}

.title::before {
  content: attr(data-text);
  position: absolute;
  text-shadow: -0.1rem 0 var(--color-dark-magenta);
  overflow: hidden;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.title::after {
  content: attr(data-text);
  position: absolute;
  left: 0.5rem;
  text-shadow: -0.1rem 0 var(--color-black);
  overflow: hidden;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

.subtitle {
  color: rgb(165, 141, 141);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  padding: 1rem;
  animation: glitch 10s 10.02s infinite;
}

.home-socials {
  font-size: 2rem;
}

.home-socials a {
  color: var(--color-white);
  padding: 1rem;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(80deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@media only screen and (max-width: 1279px) {
  .title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 685px) {
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 3rem;
  }

  .title::before,
  .title::after {
    animation: none;
  }
  
  .subtitle {
    text-align: center;
  }
}