.skills-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: var(--color-dark-gray-bg);
}

.skills-wrapper {
  width: 70vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: auto;
  overflow: hidden;
}

.skillcard-wrapper {
  background: var(--color-very-dark-gray-bg);
  width: 8rem;
  height: 8rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 2rem;
  border-radius: 0.5rem;
  border-bottom: 0.1rem solid var(--color-dark-magenta);
}

.skillcard-wrapper i {
  font-size: 3rem;
  padding: 0.5rem;
}

.skill-name {
  font-size: 1rem;
}

@media only screen and (max-width: 850px) {
  .skills-wrapper {
    width: 80vw;
  }
}

@media only screen and (max-width: 685px) {
  .skills-wrapper {
    width: 90vw;
  }

  .skillcard-wrapper {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
  }

  .skillcard-wrapper i {
    font-size: 2rem;
  }
}
