.skills-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(35, 35, 35);
}

.skills-title {
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  font-size: 3rem;
  padding-top: 2rem;
}

.skills-wrapper {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.skillcard-wrapper {
  width: 8rem;
  height: 8rem;
  margin: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(30, 30, 30);
  border-bottom: 0.1rem solid rgb(124, 0, 124);
}

.skillcard-wrapper i {
  font-size: 3rem;
  padding: 0.5rem;
}

.skill-name {
  font-size: 1rem;
}

@media only screen and (max-width: 850px) {
  .skills-wrapper {
    width: 90vw;
  }
}

@media only screen and (max-width: 685px) {
  .skillcard-wrapper {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }

  .skillcard-wrapper i {
    font-size: 2rem;
    padding: 0.5rem;
  }
  
  .skill-name {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .skillcard-wrapper {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }

  .skillcard-wrapper i {
    font-size: 2rem;
    padding: 0.5rem;
  }
  
  .skill-name {
    font-size: 0.75rem;
  }
}