.page {
  min-height: 100vh;
  display: flex;
}

.light-dark-bg {
  background: var(--color-dark-gray-bg);
}

.dark-bg {
  background: var(--color-very-dark-gray-bg);
}

.page-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;

  margin-top: 2rem;
}

.arrow-down {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  height: 2rem;
  width: 2rem;
  margin-left: -1rem;
  border-right: 0.1rem solid var(--color-white);
  border-bottom: 0.1rem solid var(--color-white);
  transform: rotate(45deg);
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  right: 7vw;
  height: 2rem;
  width: 2rem;
  border-right: 0.1rem solid var(--color-white);
  border-bottom: 0.1rem solid var(--color-white);
  transform: rotate(315deg);
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  left: 7vw;
  height: 2rem;
  width: 2rem;
  border-right: 0.1rem solid var(--color-white);
  border-bottom: 0.1rem solid var(--color-white);
  transform: rotate(135deg);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .page-title {
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }

  .page-subtitle {
    margin-bottom: 1rem;
  }
}
