@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
  --font-base: 'Poppins', sans-serif;

  --color-white: rgb(255, 255, 255);
  --color-dark-magenta: rgb(124, 0, 124);
  --color-gray: rgb(80, 80, 80);
  --color-dark-gray-bg: rgb(35, 35, 35);
  --color-very-dark-gray-bg: rgb(30, 30, 30);
  --color-black: rgb(0, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-base);
}

::-webkit-scrollbar {
  display: none;
}